body {
    font-family: Arial, sans-serif;
    background-image: url('istockphoto-537517821-612x612.jpg'); /* Utilise une image de fond de coraux */
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFF;
    text-align: center;
}

#start-container, .quiz-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    background-color: #ff4081;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #ff6089;
}

#result {
    font-size: 1.5em;
    margin-top: 20px;
}
